body{
    overflow-x: hidden;
}

#bg1{
    background-image:url("https://static.wixstatic.com/media/a47b9d_d1d2ea4cf0f7459391c089ecb6193c83~mv2.jpg/v1/fill/w_720,h_446,al_c/a47b9d_d1d2ea4cf0f7459391c089ecb6193c83~mv2.jpg") ;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}

.box{
    background-color: rgba(250, 235, 215, 0.292);
}

#bg2{
    background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtNTQyLTM4NC1yZXN1bWUuanBn.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
}

@media (max-width: 768px){
    .row{
        flex-direction:column;
    }


.col-4,.col-6,.col-3{
    width: 100%;
    margin-bottom: 20px;
}

img{
    width: 100%;
    height: auto;
}
.box{
    padding: 20px;
}
h3,h4{
    font-size: 1.5em;
}
}